<div class="image-container center-align">
  <br><%= image_tag(@story.image, id: "title-card") %>
  <h1> <%= @story.title %> </h1>
</div>






<div class="flex">
  <% @sentences.each do |sentence| %>

  <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img src='<%= sentence.image %>' alt="picture" class="activator card-image">
        <!-- <%= image_tag(sentence.image, class: "activator card-image") %> -->
        <p class="card-title">
          <%=sentence.text %>
        </p>
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
        <p class="position">
        </p>
        <% if (sentence.user) %>
        <p>By: <%= sentence.user.name %> </p>
        <% end %>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
        <p><%= link_to "Edit", edit_story_sentence_path(@story, sentence) %> |
        <%= link_to "Delete", story_sentence_path(@story, sentence),
        :data => {:confirm => "Are you sure?",
          :method => "delete"} %></p>
      </div>
    </div>

</div>
<%end %>

<div class="center-align">
  <%= link_to "Add To This Story", new_story_sentence_path, class:"btn" %>
  <%= link_to "Back to Stories", stories_path(@user), class:"btn orange" %>
  <%= link_to "Back to Users", users_path, class:"btn red" %><br><br>
</div>
