<h1>Stories</h1>

<ul>
  <% @stories.each do |story| %>
    <li><%= link_to story.title, story_sentences_path(story) %></li>
    <li><%= image_tag(story.image) %></li>
    <li>
      <%= link_to "Edit", edit_story_path(story) %> |
      <%= link_to "Delete", story_path(story),
      :data => {:confirm => "Are you sure?",
        :method => "delete"} %>
    </li>
  <% end %>
</ul>

<%= link_to "Add New Story", new_story_path %>
